<%- include("partials/header") -%> 
<h1><%= pageTitle %></h1>
<p><%= startingContent %></p>

<% contentPosts.forEach(function (p) { %>
    <h1> <%= p.title %> </h1>
    <% if (p.content.length <= 100) {%>
        <p>
            <%= p.content %> 
            <a href="/posts/<%=p.title%>">See details</a>
       </p>
    <% } else {%>
        <p>
             <%= p.postBody.substring(0, 100) + "..." %> 
             <a href="/posts/<%=p.title%>">See details</a>
        </p>
    <% } %>
<% })  %>

<%- include("partials/footer") -%> 