<%- include("partials/header") -%> 
<h1><%= pageTitle %></h1>
<p><%= startingContent %></p>

<% contentPosts.forEach(function (p) { %>
    <h1> <%= p.postTitle %> </h1>
    <p> <%= p.postBody %> </p>
<% })  %>

<%- include("partials/footer") -%> 